* {
    margin: 0;
    padding: 0;
    border-style: none;
    transition: 0.3s ease all;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #111;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body header {
    background-color: black;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    margin: 20px 20px;
    border-radius: 48px;
    top: 0;
    position: sticky;
    z-index: 10000;
}

body header nav>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

body header nav>ul li {
    list-style: none;
    font-size: 1.2rem;
    padding: 8px 24px;
    border-radius: 24px;
}

header nav ul li:hover {
    background-color: #5251516f;
    box-shadow: 0px 3px 10px #afacac;
    scale: 1.1;
}

header nav ul li:active {
    background-color: rgba(6, 104, 111, 0.348);
    scale: 0.9;

}

body header nav>ul li a {
    color: #eff;
    text-decoration: none;
}

section {
    min-height: 80vh;
    margin: 20px;
    border-top: gray 2px solid;
}

section h1 {
    margin: 30px;
    font-size: 2.5rem;
}

section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}


section .img-container {
    /* padding: 10px; */
    border: 3px rgb(41, 40, 40) solid;
    border-radius: 50%;
    height: 144px;
    width: 144px;
    position: relative;
}

section .img-container img {
    height: 144px;
    width: 144px;
    border-radius: 50%;
    position: absolute;
}

span.det {
    color: white;
    font-size: 1.3rem;
}


span.dett::after {
    content: '';
    font-size: 1.8rem;
    font-weight: 550;
    color: rgb(16, 140, 185);
    animation: name 20s linear infinite;
}

@keyframes name {
    0% {
        content: 'Avaya Shrestha!'
    }

    33% {
        content: 'Frontend Developer!'
    }

    66% {
        content: 'Student!';
    }

    99% {
        content: 'Student!';
    }

    100% {
        content: 'Avaya Shrestha';
    }
}

span.det::after {
    content: "";
    border-left: 2px solid rgb(0, 115, 255);
    transition: none;
    animation: blink 1s infinite linear(-0.6 100.74%, 1 100%);
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    80% {
        opacitiy: 1;
    }


    100% {
        opactity: 0;
    }
}

#about .card-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(80, 80, 80, 0.582);
    padding: 30px;
    border-radius: 24px;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    min-width: 20vw;
    cursor: pointer;
}

.card h2 {
    color: rgb(0, 201, 60);
}

.card p {
    font-size: 20px;
    color: rgb(0, 255, 242);
}

.card:hover {
    scale: 1.1;
    transform: translateY(-10px);
    box-shadow: 0px 6px 15px rgb(179, 178, 178);
}

.card:active {
    scale: 0.9;
}

.contact-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input {
    background-color: #222;
    color: #ddd;
    padding: 8px 24px;
    font-size: 1.2em;
    border-radius: 24px;
    border: #000 2px solid;
}

input[type="button"] {
    background-color: rgb(0, 255, 0);
    color: black;
}

input[type="button"]:hover {
    scale: 1.1;
    transform: translateY(-10px);
    box-shadow: lime 0px 3px 10px;
}

input[type="button"]:active {
    scale: 0.9;

}

footer {
    background-color: rgba(128, 128, 128, 0.342);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
}

footer span {
    font-size: 1.6rem;
}

footer #num {
    color: rgb(56, 225, 255);
    font-size: 1.8rem;
    font-weight: 550;
}

@media screen and (max-width: 500px) {
    body header {
        position: static;
    }

    body header nav>ul li {
        padding: 8px 10px;
    }
}

@media screen and (max-width: 390px) {
    body header nav>ul{
        flex-direction: column;
    }

    body header nav>ul li{
        padding: 8px 20px;
    }
}