/* <body>
    <main>
        <section id="main" class="main">
            <h1>The Output Is</h1>
            <output>
                
            </output>
        </section>
    </main>
</body> */


*{
    padding: 0;
    margin: 0;
    border-style: none;
}

body{
    background-color: #000;
    color: white;
    font-family: sans-serif;
}

body main h1{
    margin: 20px 5vw;
}

body main .main .output{
    background-color: #222;
    border: gray 2px solid;
    border-radius: 24px;
    min-height: 50vh;
    width: 80vw;
    justify-self: center;
    align-self: center;
    padding: 36px;
}

